<!DOCTYPE html>
<html>
    <head>
        <meta name="game_code" content="{{ session['game_code'] }}">
        <link rel="stylesheet", href="{{ url_for('static', filename='interface.css') }}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='interface.js') }}"></script>
    </head>
    <body>
        <div class="music">

        </div>
        <div class="characters">


        </div>
        <div class="map">
            <canvas id="canvas"></canvas>
        </div>
    </body>
</html>